/*colors and fonts*/



body{
 box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
 border-radius: 4px;
 box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);

 background-color:rgb(232, 204, 174);

 color: rgb(243, 166, 34);

 font-family: 'Unbounded', cursive;
	font-size: 17px;
	text-align: center;
}


    

h1,h2,h3 {font-family: 'Unbounded',sans-serif;

} 


h1{
	color: black;
	font-family:'Unbounded', cursive;
	font-size: 32px;
	font-weight: 800;
    color: rgb(243, 166, 34)
    letter-spacing: 10px;
}


h2{
	color: rgb(100, 100, 100);
	font-family: 'Unbounded', cursive;
	font-size:24px;
	font-weight: lighter;
	font-weight: 300;
}

a{
	font-family: 'Roberto',sans-serif;
	font-weight: 800;
	text-decoration: none;
	color: rgb(105, 119, 60)
}

a:hover{
	background-color: rgb(105, 119, 60);
	color: rgb(105, 119, 60)
}



@media (max-width:500px) {
.container {
	width:400px ;
}}


@media (max-width:760px) {
.container {
	width:600px ;

}}

{div
background: white;
border: 2px solid ghostwhite;
margin: 10px;
}


element.style {
    background: rgb(232, 204, 174);
    padding: 60px;
    margin: 50px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 4px;
}

.card-white {
	background-color: white;
	color: black;
	padding: 40px;
	box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
	border-radius: 4px;
	margin: 40px 200px;
	text-align: center;
}


.img-circle {
	border-radius: 40%;
	border-radius: 4px;}


}
.btn-blue {
	padding: 15px 20px;

	background-color: rgb(232, 204, 174);
		color:rgb(232, 204, 174);
}


.btn-blue:hover
{
	background-color:black ;
	color:white;
}












